main{
    background-color: #eb6c6c;
}

.fejlec{
  background-image: url(../img/hímzettkép-700x380.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body, main,.fejlec{  
  margin: 15px;
}

a{
  text-decoration: none;
}

.sidenav{
  /*border: solid 4px lightgray;*/
  background-color: lightblue;
  float: left;
  height: 60%;
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(142, 140, 140);
  overflow-x: hidden;
  margin-bottom: auto;
  padding-top: 20px;
}

.sidenav:hover{
  width: 200px;
  transition-duration: 1s;
}

.sidenav a {
  padding: 0px 0px 10px 40px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #b1b1b1;
}

.navbar{
  text-align: center;
  align-items: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.sidekep{
  max-width: 60px;
  padding-left: 3px;
}
.sidetext{
  padding-right: 10px;
  padding-left: 20px;
}